@import url(http://fonts.googleapis.com/css?family=Damion);
#main {
  width: 1024px;
  margin: auto; }

.clear {
  clear: both; }

#board {
  height: 1024px;
  width: 1024px;
  background-color: #cfe1c4; }
  #board #top_row {
    height: 152px;
    width: 1024px; }
    #board #top_row .left.corner {
      width: 152px;
      height: 152px;
      background-color: yellow;
      float: left; }
      #board #top_row .left.corner img {
        height: 152px;
        width: 152px; }
    #board #top_row .horiz_locations {
      width: 720px;
      height: 152px;
      float: left; }
      #board #top_row .horiz_locations img {
        width: 78px;
        margin-left: 1px; }
      #board #top_row .horiz_locations .color {
        width: 80px;
        height: 30px; }
      #board #top_row .horiz_locations #parthenon {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #parthenon .color {
          background-color: #f22a39; }
      #board #top_row .horiz_locations .chance {
        height: 152px;
        width: 80px;
        float: left; }
      #board #top_row .horiz_locations #montgomery {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #montgomery .color {
          background-color: #f22a39; }
      #board #top_row .horiz_locations #centennial {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #centennial .color {
          background-color: #f22a39; }
      #board #top_row .horiz_locations .university {
        height: 152px;
        width: 80px;
        float: left; }
      #board #top_row .horiz_locations #hall_of_fame {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #hall_of_fame .color {
          background-color: #efbe52; }
      #board #top_row .horiz_locations #music_city_center {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #music_city_center .color {
          background-color: #efbe52; }
      #board #top_row .horiz_locations .utility {
        height: 152px;
        width: 80px;
        float: left; }
      #board #top_row .horiz_locations #shelby {
        height: 152px;
        width: 80px;
        float: left; }
        #board #top_row .horiz_locations #shelby .color {
          background-color: #efbe52; }
    #board #top_row .right.corner {
      width: 152px;
      height: 152px;
      background-color: green;
      float: left; }
      #board #top_row .right.corner img {
        height: 152px;
        width: 152px; }
  #board #middle_row .left.vert_locations {
    width: 152px;
    height: 720px;
    float: left; }
    #board #middle_row .left.vert_locations p {
      width: 18px;
      height: 80px;
      float: left; }
    #board #middle_row .left.vert_locations img {
      height: 78px;
      margin-top: 1px;
      float: left; }
    #board #middle_row .left.vert_locations .color {
      width: 30px;
      height: 80px;
      float: left; }
    #board #middle_row .left.vert_locations #rca {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #rca p {
        margin: 0; }
      #board #middle_row .left.vert_locations #rca .color {
        background-color: #00a89d; }
    #board #middle_row .left.vert_locations #wpln {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #wpln p {
        margin: 0; }
      #board #middle_row .left.vert_locations #wpln .color {
        background-color: #00a89d; }
    #board #middle_row .left.vert_locations .community_chest {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations .community_chest p {
        margin: 0; }
    #board #middle_row .left.vert_locations #belmont {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #belmont p {
        margin: 0; }
      #board #middle_row .left.vert_locations #belmont .color {
        background-color: #00a89d; }
    #board #middle_row .left.vert_locations .university {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations .university p {
        margin: 0; }
    #board #middle_row .left.vert_locations #donut {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #donut p {
        margin: 0; }
      #board #middle_row .left.vert_locations #donut .color {
        background-color: #00a89d; }
    #board #middle_row .left.vert_locations #smoke {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #smoke p {
        margin: 0; }
      #board #middle_row .left.vert_locations #smoke .color {
        background-color: #00a89d; }
    #board #middle_row .left.vert_locations .utility {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations .utility p {
        margin: 0; }
    #board #middle_row .left.vert_locations #bluebird {
      height: 80px;
      width: 152px; }
      #board #middle_row .left.vert_locations #bluebird p {
        margin: 0; }
      #board #middle_row .left.vert_locations #bluebird .color {
        background-color: #00a89d; }
  #board #middle_row #center {
    width: 720px;
    height: 720px;
    float: left; }
    #board #middle_row #center img {
      width: 720px;
      height: 720px; }
  #board #middle_row .right.vert_locations {
    width: 152px;
    height: 720px;
    float: left; }
    #board #middle_row .right.vert_locations .color {
      width: 30px;
      height: 80px;
      float: left; }
    #board #middle_row .right.vert_locations img {
      height: 78px;
      margin-top: 1px;
      float: left; }
    #board #middle_row .right.vert_locations p {
      width: 18px;
      height: 80px;
      float: left; }
    #board #middle_row .right.vert_locations #union {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations #union p {
        margin: 0; }
      #board #middle_row .right.vert_locations #union .color {
        background-color: #00a89d; }
    #board #middle_row .right.vert_locations #frist {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations #frist p {
        margin: 0; }
      #board #middle_row .right.vert_locations #frist .color {
        background-color: #00a89d; }
    #board #middle_row .right.vert_locations .community_chest {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations .community_chest p {
        margin: 0; }
    #board #middle_row .right.vert_locations #ryman {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations #ryman p {
        margin: 0; }
      #board #middle_row .right.vert_locations #ryman .color {
        background-color: #00a89d; }
    #board #middle_row .right.vert_locations .university {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations .university p {
        margin: 0; }
    #board #middle_row .right.vert_locations .chance {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations .chance p {
        margin: 0; }
    #board #middle_row .right.vert_locations #hermitage {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations #hermitage p {
        margin: 0; }
      #board #middle_row .right.vert_locations #hermitage .color {
        background-color: #00a89d; }
    #board #middle_row .right.vert_locations .tax {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations .tax p {
        margin: 0; }
    #board #middle_row .right.vert_locations #plantation {
      height: 80px;
      width: 152px; }
      #board #middle_row .right.vert_locations #plantation p {
        margin: 0; }
      #board #middle_row .right.vert_locations #plantation .color {
        background-color: #00a89d; }
  #board #bottom_row .left.corner {
    width: 152px;
    height: 152px;
    background-color: #222222;
    float: left; }
    #board #bottom_row .left.corner img {
      height: 152px;
      width: 152px; }
  #board #bottom_row .horiz_locations {
    width: 720px;
    height: 152px;
    float: left; }
    #board #bottom_row .horiz_locations img {
      width: 78px;
      margin-left: 1px; }
    #board #bottom_row .horiz_locations .color {
      width: 80px;
      height: 30px; }
    #board #bottom_row .horiz_locations #mere_bulles {
      height: 152px;
      width: 80px;
      float: left; }
      #board #bottom_row .horiz_locations #mere_bulles .color {
        background-color: #367995; }
    #board #bottom_row .horiz_locations #percy_warner {
      height: 152px;
      width: 80px;
      float: left; }
      #board #bottom_row .horiz_locations #percy_warner .color {
        background-color: #367995; }
    #board #bottom_row .horiz_locations .chance {
      height: 152px;
      width: 80px;
      float: left; }
    #board #bottom_row .horiz_locations #radnor {
      height: 152px;
      width: 80px;
      float: left; }
      #board #bottom_row .horiz_locations #radnor .color {
        background-color: #367995; }
    #board #bottom_row .horiz_locations .university {
      height: 152px;
      width: 80px;
      float: left; }
    #board #bottom_row .horiz_locations .tax {
      height: 152px;
      width: 80px;
      float: left; }
    #board #bottom_row .horiz_locations #zoo {
      height: 152px;
      width: 80px;
      float: left; }
      #board #bottom_row .horiz_locations #zoo .color {
        background-color: #e2a66a; }
    #board #bottom_row .horiz_locations .community_chest {
      height: 152px;
      width: 80px;
      float: left; }
    #board #bottom_row .horiz_locations #bobbys {
      height: 152px;
      width: 80px;
      float: left; }
      #board #bottom_row .horiz_locations #bobbys .color {
        background-color: #e2a66a; }
  #board #bottom_row .right.corner {
    width: 152px;
    height: 152px;
    background-color: #cccccc;
    float: left; }

    #board #bottom_row .right.corner img {
      height: 152px;
      width: 152px; }

#cards {
  width: 100%;
  background-image: url(../images/board_center.png);
  height: 1024px; }
  #cards #cchest {
    position: relative; }
    #cards #cchest .card {
      width: 200px;
      height: 100px;
      position: absolute;
      background-color: #ffb03d;
      border: 1px solid #222222;
      font-family: "Damion"; }
      #cards #cchest .card:nth-of-type(1) {
        top: 70px;
        left: 60px;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      #cards #cchest .card:nth-of-type(2) {
        top: 80px;
        left: 320px;
        transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg); }
      #cards #cchest .card:nth-of-type(3) {
        top: 70px;
        left: 600px;
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg); }
      #cards #cchest .card:nth-of-type(4) {
        top: 220px;
        left: 70px;
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg); }
      #cards #cchest .card:nth-of-type(5) {
        top: 200px;
        left: 450px;
        transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg); }
      #cards #cchest .card:hover {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        z-index: 1;
        border: 2px solid #333333;
        -webkit-box-shadow: 3px 3px 5px #333333;
        -moz-box-shadow: 3px 3px 5px #333333;
        box-shadow: 3px 3px 5px #333333; }
      #cards #cchest .card h3 {
        padding: 7px 10px 0 10px;
        margin: 0;
        font-size: 19px; }
      #cards #cchest .card p {
        padding: 0 10px;
        margin: 0; }
