#board
{
  height: 1024px;
  width: 1024px;
  background-color: rgb(207, 225, 196);
  #top_row
  {
    height: 152px;
    width: 1024px;
    .left.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
    .horiz_locations
    {
      width: 720px;
      height: 148px;
      float: left;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      img
      {
        height: 105px;
        margin: 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
      }
      .color
      {
        width: 80px;
        height: 23px;
        border: 0;
        margin: 0;
        position: relative;
        bottom: 4px;
      }
      .price
      {
        height: 16px;
        width: 80px;
        border: 0;
        margin: 0;
      }
      #parthenon
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $red;
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
          }
        }
      }
      .chance
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          border: 0;
          width: 76px;
          height: 148px;
        }
      }
      #montgomery
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $red;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      #centennial
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $red;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img:first-child
        {
          width: 76px;
          height: 17px;
          border: 0;
          padding: 0;
        }
        img:last-child
        {
          width:76px;
          border: 0;
          padding: 0;
          margin: 0;
          position: relative;
          bottom: 4px;
        }
      }
      #hall_of_fame
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      #music_city_center
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      .utility
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
      }
      #shelby
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
          }
        }
        img
        {
          width: 79px;
        }
      }

    }
    .right.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
  }
  #middle_row
  {
    .left.vert_locations
    {
      width: 148px;
      height: 720px;
      float: left;
      border-left: 2px solid black;
      border-right: 2px solid black;
      .price
      {
        width: 16px;
        height: 78px;
        border: 0;
        margin: 0;
        float: left;
      }
      img
      {
        width: 105px;
        margin: 0;
        border-left: 2px solid black;
        border-right: 2px solid black;
        float: left;
      }
      .color
      {
        width: 23px;
        float: left;
        border: 0;
        margin: 0;
      }
      #rca
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $orange;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #wpln
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $orange;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .community_chest
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          position: relative;
          right: 3px;
        }
      }
      #belmont
      {
        height: 80px;
        width: 148px;
        background-color: $orange;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img:first-child
        {
          float: left;
          height: 76px;
          border: 0;
          padding: 0;
          width: 16px;
        }
        img:last-child
        {
          height: 76px;
          margin: 0;
          border: 0;
          padding: 0;
          position: relative;
          left: 3px;
        }

      }
      #donut
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $pink;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #smoke
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $pink;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .utility
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
        }
      }
      #bluebird
      {
        height: 80px;
        width: 148px;
        background-color: $pink;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
    }
    #center
    {
      width: 720px;
      height: 720px;
      float: left;
      img
      {
        width: 720px;
        height: 720px;
      }
    }
    .right.vert_locations
    {
      width: 148px;
      height: 720px;
      float: left;
      border-right: 2px solid black;
      border-left: 2px solid black;
      .color
      {
        width: 23px;
        height: 80px;
        float: left;
      }
      img
      {
        height: 78px;
        width: 105px;
        margin: 0;
        border-right: 2px solid black;
        border-left: 2px solid black;
        float: left;
      }
      .price
      {
        width: 16px;
        margin: 0;
        border: 0;
        float: left;
      }
      #union
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $green;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #frist
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $green;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .community_chest
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          position: relative;
          right: 2px;
        }
      }
      #ryman
      {
        height: 80px;
        width: 149px;
        background-color: $green;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 77px;
        width: 149px;
        border-bottom: 1px solid black;
        border-top: 2px solid black;
        img:first-child
        {
          height: 77px;
          padding: 0px;
          border: 0;
          margin-left: 24px;
          float: left;
        }
        img:last-child
        {
          height: 77px;
          width: 16px;
          float: left;
          border: 0;
          margin-left: 3px;
          padding: 0;
        }
      }
      .chance
      {
        height: 77px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 1px solid black;
        img
        {
          height: 77px;
          width: 148px;
          border: 0;
        }
      }
      #hermitage
      {
        height: 80px;
        width: 148px;
        background-color: $blue;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .tax
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        p
        {
          margin: 0;
          height: 76px;
        }
        img
        {
          height: 76px;
        }
      }
      #plantation
      {
        height: 80px;
        width: 148px;
        background-color: $blue;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
    }
  }
  #bottom_row
  {
    .left.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
    .horiz_locations
    {
      width: 720px;
      height: 148px;
      float: left;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      img
      {
        height: 105px;
        margin: 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }
      .color
      {
        height: 23px;
        border: 0;
        margin: 0;
      }
      .price
      {
        height: 16px;
        border: 0;
        margin: 0;
      }
      #mere_bulles
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $teal;
        img
        {
          width: 79px;
        }
        &:hover
          {
            transform: scale(4);
            -ms-transform: scale(4);
            -webkit-transform: scale(4);
            position: relative;
            bottom: 230px;
            left: 130px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      #percy_warner
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $teal;
        &:hover
          {
            transform: scale(4);
            -ms-transform: scale(4);
            -webkit-transform: scale(4);
            position: relative;
            bottom: 230px;
            left: 130px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        img
        {
          width: 79px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .chance
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          border: 0;
          width: 76px;
          height: 148px;
        }
      }
      #radnor
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $teal;
        &:hover
          {
            transform: scale(4);
            -ms-transform: scale(4);
            -webkit-transform: scale(4);
            position: relative;
            bottom: 230px;
            left: 100px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .university
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 2px solid black;
        border-right: 1px solid black;
        img:first-child
        {
          width: 77px;
          padding-top: 25px;
          border: 0;
        }
        img:last-child
        {
          width: 77px;
          height: 16px;
          border: 0;
          position: relative;
          bottom: 3px;
        }
      }
      .tax
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 1px solid black;
        border-right: 2px solid black;
      }
      #zoo
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $brown;
        &:active
          {
            transform: scale(4);
            -ms-transform: scale(4);
            -webkit-transform: scale(4);
            position: relative;
            bottom: 230px;
            left: -150px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .community_chest
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          width: 77px;
          height: 148px;
          position: relative;
          bottom: 2px;
        }
      }
      #bobbys
      {
        height: 148px;
        width: 79px;
        float: left;
        background-color: $brown;
        &:hover
          {
            transform: scale(4);
            -ms-transform: scale(4);
            -webkit-transform: scale(4);
            position: relative;
            bottom: 230px;
            left: -250px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        img
        {
          width: 79px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
    }
    .right.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
  }
}