
header
{
  width: 1024px;
  height: 220px;
  background-color: rgb(22, 54, 72);
  margin: 120px auto 0 auto;
  #image_holder
  {
    height: 20px;
    img
    {
      width: 730px;
      position: relative;
      top: -50px;
      height: 350px;
      left: 140px;
      z-index: 0;
    }
  }
  #wrapper1
  {
    width: 1024px;
    height: 30px;
    background-color: rgb(22, 54, 72);
  }
  #wrapper2
  {
    width: 1024px;
    height: 3px;
    background-color: rgb(116, 109, 83);
  }
  #wrapper3
  {
    width: 1024px;
    height: 3px;
    background-color: rgb(116, 109, 83);
  }
  #wrapper4
  {
    width: 1024px;
    height: 30px;
    background-color: rgb(22, 54, 72);
  }
  #nav1
  {
    width: 200px;
    height: 170px;
    float: left;
    ul
    {
      padding-left: 0;
      li
      {
        margin: 15px;
        list-style-type: none;
        height: 35px;
        width: 145px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        margin-left: 30px;
        border-radius: 6px;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 3px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
  #nav2
  {
    width: 200px;
    height: 170px;
    float: right;
    ul
    {
      padding-left: 0;
      li
      {
        margin: 15px;
        list-style-type: none;
        height: 35px;
        width: 145px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        border-radius: 6px;
        z-index: 1;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 3px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
}
#board
{
  height: 1024px;
  width: 1024px;
  background-color: rgb(207, 225, 196);
  margin: 100px 0;
  #top_row
  {
    height: 152px;
    width: 1024px;
    .left.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
    .horiz_locations
    {
      width: 720px;
      height: 148px;
      float: left;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      img
      {
        height: 105px;
        margin: 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        .art
        {
        -moz-transition: .3s transform ease-in-out;
        -webkit-transition: .3s transform ease-in-out;
        transition: .3s transform ease-in-out;
        &:hover
          {
            -webkit-transform: scale(4) rotate(180deg);
            -moz-transform: scale(4) rotate(180deg);
            z-index: 1;
          }
        }
      }
      .color
      {
        width: 80px;
        height: 23px;
        border: 0;
        margin: 0;
        position: relative;
        bottom: 4px;
      }
      .price
      {
        height: 16px;
        width: 80px;
        border: 0;
        margin: 0;
      }
      #parthenon
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $red;
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
          }
        }
      }
      .chance
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          border: 0;
          width: 76px;
          height: 148px;
        }
      }
      #montgomery
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $red;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      #centennial
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $red;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img:first-child
        {
          width: 76px;
          height: 17px;
          border: 0;
          padding: 0;
        }
        img:last-child
        {
          width:76px;
          border: 0;
          padding: 0;
          margin: 0;
          position: relative;
          bottom: 4px;
        }
      }
      #hall_of_fame
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      #music_city_center
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
          }
        }
      }
      .utility
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          height: 148px;
          width: 76px;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
      #shelby
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $gold;
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
          }
        }
        img
        {
          width: 79px;
        }
      }

    }
    .right.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
  }
  #middle_row
  {
    .left.vert_locations
    {
      width: 148px;
      height: 720px;
      float: left;
      border-left: 2px solid black;
      border-right: 2px solid black;
      .price
      {
        width: 16px;
        height: 78px;
        border: 0;
        margin: 0;
        float: left;
      }
      img
      {
        width: 105px;
        margin: 0;
        border-left: 2px solid black;
        border-right: 2px solid black;
        float: left;
        .art
        {
        -moz-transition: .3s transform ease-in-out;
        -webkit-transition: .3s transform ease-in-out;
        transition: .3s transform ease-in-out;
        &:hover
          {
            -webkit-transform: scale(4) rotate(90deg);
            -moz-transform: scale(4) rotate(90deg);
            z-index: 1;
          }
        }
      }
      .color
      {
        width: 23px;
        float: left;
        border: 0;
        margin: 0;
      }
      #rca
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $orange;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #wpln
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $orange;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .community_chest
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          position: relative;
          right: 3px;
        }
      }
      #belmont
      {
        height: 80px;
        width: 148px;
        background-color: $orange;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img:first-child
        {
          float: left;
          height: 76px;
          border: 0;
          padding: 0;
          width: 16px;
        }
        img:last-child
        {
          height: 76px;
          margin: 0;
          border: 0;
          padding: 0;
          position: relative;
          left: 3px;
        }
      }
      #donut
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $pink;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #smoke
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $pink;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .utility
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
      #bluebird
      {
        height: 80px;
        width: 148px;
        background-color: $pink;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
    }
    #center
    {
      width: 720px;
      height: 720px;
      float: left;
      img
      {
        width: 720px;
        height: 720px;
      }
    }
    .right.vert_locations
    {
      width: 148px;
      height: 720px;
      float: left;
      border-right: 2px solid black;
      border-left: 2px solid black;
      .color
      {
        width: 23px;
        height: 80px;
        float: left;
      }
      img
      {
        height: 78px;
        width: 105px;
        margin: 0;
        border-right: 2px solid black;
        border-left: 2px solid black;
        float: left;
        .art
        {
        -moz-transition: .3s transform ease-in-out;
        -webkit-transition: .3s transform ease-in-out;
        transition: .3s transform ease-in-out;
        &:hover
          {
            -webkit-transform: scale(4) rotate(-90deg);
            -moz-transform: scale(4) rotate(-90deg);
            z-index: 1;
          }
        }
      }
      .price
      {
        width: 16px;
        margin: 0;
        border: 0;
        float: left;
      }
      #union
      {
        height: 79px;
        width: 148px;
        border-bottom: 1px solid black;
        background-color: $green;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      #frist
      {
        height: 79px;
        width: 148px;
        border-top: 1px solid black;
        background-color: $green;
        img
        {
          height: 79px;
        }
        .price
        {
          img
          {
            height: 79px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .community_chest
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          position: relative;
          right: 2px;
        }
      }
      #ryman
      {
        height: 80px;
        width: 149px;
        background-color: $green;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .university
      {
        height: 77px;
        width: 149px;
        border-bottom: 1px solid black;
        border-top: 2px solid black;
        img:first-child
        {
          height: 77px;
          padding: 0px;
          border: 0;
          margin-left: 24px;
          float: left;
        }
        img:last-child
        {
          height: 77px;
          width: 16px;
          float: left;
          border: 0;
          margin-left: 3px;
          padding: 0;
        }
      }
      .chance
      {
        height: 77px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 1px solid black;
        img
        {
          height: 77px;
          width: 148px;
          border: 0;
        }
      }
      #hermitage
      {
        height: 80px;
        width: 148px;
        background-color: $blue;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
      .tax
      {
        height: 76px;
        width: 148px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        img
        {
          height: 76px;
          width: 148px;
          border: none;
        }
      }
      #plantation
      {
        height: 80px;
        width: 148px;
        background-color: $blue;
        img
        {
          height: 80px;
        }
        .price
        {
          img
          {
            height: 80px;
            width: 16px;
            border: 0;
            margin: 0;
          }
        }
      }
    }
  }
  #bottom_row
  {
    .left.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
    .horiz_locations
    {
      width: 720px;
      height: 148px;
      float: left;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      img
      {
        height: 105px;
        margin: 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        .art
        {
          -moz-transition: all .3s transform ease-in-out;
          -webkit-transition: all .3s transform ease-in-out;
          transition: all .3s transform ease-in-out;
          &:hover
          {
            -webkit-transform: scale(4);
            -moz-transform: scale(4);
            transform: scale(4);
          }
        }
      }
      .color
      {
        height: 23px;
        border: 0;
        margin: 0;
      }
      .price
      {
        height: 16px;
        border: 0;
        margin: 0;
      }
      #mere_bulles
      {
        height: 148px;
        width: 79px;
        float: left;
        border-right: 1px solid black;
        background-color: $teal;
        img
        {
          width: 79px;
          .art
        {
        -moz-transition: .3s transform ease-in-out;
        -webkit-transition: .3s transform ease-in-out;
        transition: .3s transform ease-in-out;
        &:hover
          {
            -webkit-transform: scale(4);
            -moz-transform: scale(4);
            // z-index: 1;
          }
        }

        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      #percy_warner
      {
        height: 148px;
        width: 79px;
        float: left;
        border-left: 1px solid black;
        background-color: $teal;
        img
        {
          width: 79px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .chance
      {
        height: 148px;
        width: 76px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          border: 0;
          width: 76px;
          height: 148px;
        }
      }
      #radnor
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $teal;
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .university
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 2px solid black;
        border-right: 1px solid black;
        img:first-child
        {
          width: 77px;
          padding-top: 25px;
          border: 0;
        }
        img:last-child
        {
          width: 77px;
          height: 16px;
          border: 0;
          position: relative;
          bottom: 3px;
        }
      }
      .tax
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 1px solid black;
        border-right: 2px solid black;
        p
        {
          margin: 0;
          border: 0;
          text-align: center;
          width: 77px;
          padding: 0;
          font-size: 9px;
          height: 12px;
        }
        p:first-child
        {
          padding-top: 20px;
          font-size: 12px;
          line-height: 10px;
        }
        p:nth-child(2)
        {
          font-size: 12px;
          line-height: 10px;
        }
        img
        {
          margin: 10px 33px 20px 33px;
          width: 11px;
          height: 10px;
          border: 0;
        }
      }
      #zoo
      {
        height: 148px;
        width: 80px;
        float: left;
        background-color: $brown;
        img
        {
          width: 80px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 80px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
      .community_chest
      {
        height: 148px;
        width: 77px;
        float: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        img
        {
          width: 77px;
          height: 148px;
          position: relative;
          bottom: 2px;
        }
      }
      #bobbys
      {
        height: 148px;
        width: 79px;
        float: left;
        background-color: $brown;
        img
        {
          width: 79px;
        }
        .price
        {
          img
          {
            height: 16px;
            width: 79px;
            border: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
          }
        }
      }
    }
    .right.corner
    {
      width: 152px;
      height: 152px;
      float: left;
      img
        {
          height: 152px;
          width: 152px;
        }
    }
  }
}
