
$card_width: 200px;
$card_height: 110px;
$cchest_header_fsize: 18px;
$cchest_p_fsize: 9px;

#cards
{
  width: 100%;
  background-image: url(../images/board_center.png);
  height: 1024px;

  #cchest
  {
    position: relative;

    .card
    {
      width: $card_width;
      height: $card_height;
      position: absolute;
      background-color: $cchest_color;
      border: 1px solid #222222;
      font-family: "Damion";

        &:nth-of-type(1)
        {
          @include card_fn(70px, 60px, rotate(-5deg), all 0.3s ease-in-out);
        }

        &:nth-of-type(2)
        {
          @include card_fn(80px, 320px, rotate(3deg), all 0.3s ease-in-out);
        }

        &:nth-of-type(3)
        {
          @include card_fn(70px, 600px, rotate(-2deg), all 0.3s ease-in-out);
        }

        &:nth-of-type(4)
        {
          @include card_fn(220px, 70px, rotate(2deg), all 0.3s ease-in-out);
        }

        &:nth-of-type(5)
        {
          @include card_fn(200px, 450px, rotate(-1deg), all 0.3s ease-in-out);
        }

        &:hover
          {
            @include card_hover_fn(rotate(0deg), scale(2), 1, 2px solid #333333, 3px 3px 5px #333333);
          }

        h3
        {
          padding: 7px 10px 0 10px;
          margin: 0;
          font-size: $cchest_header_fsize;
        }

        p
        {
          padding: 0 10px;
          margin: 0;
          font-size: $cchest_p_fsize;
          font-family: Patua+One;
        }
    }
  }

}