
$cchest_color: #FFB03D;
$chance_color: #F2560E;
$gold: rgb(239, 190, 82);
$teal: rgb(0, 168, 157);
$red: rgb(242, 42, 57);
$brown: rgb(226, 166, 106);
$blue: rgb(54, 121, 149);
$green: rgb(122, 201, 67);
$orange: rgb(255, 147, 30);
$pink: rgb(255, 123, 172);
