div#main
{
	width:1024px;
}

div#nav
{
	width:1024px;
	background-color:$red;

	ul
	{
		width: 700px;
		margin:0px auto;

		li
		{
			display: inline-block;
			padding:10px;

			a
			{
				color:white;
				text-decoration: none;

				img
				{
					width: 150px;
					position:relative;
					top:20px;

				}
			}
		}
	}
}

#pieces_header
{
	width:1024px;
	height:300px;
	background-color:white;
	padding-top:100px;

	h1
	{
		float: right;
		width: 400px;
	}

	p{
		float: right;
		width:400px;
	}
}

.clear
{
	clear:both;
}

.pieces_container
{
	width:1024px;

}

.pieces_right_section
{
	width:1004px;
	height:100%;
	background-color:$teal;
	color:white;
	padding-top:30px;
	padding-left:20px;

	.description
	{
		display: inline-block;
		width: 500px;
		float:right;

		h2
		{
			width: 400px;

		}

		p
		{
			width: 400px;
		}
	}
}

.pieces_left_section
{
	width:1004px;
	height:100%;
	background-color:$green;
	color:white;
	padding-top:30px;
	padding-left:20px;

	h2
	{
		width: 400px;

	}

	p
	{
		width: 400px;
	}
}