header
{
  width: 1024px;
  height: 220px;
  background-color: rgb(22, 54, 72);
  margin: 120px auto 0 auto;
  #image_holder
  {
    height: 20px;
    img
    {
      width: 730px;
      position: relative;
      top: -50px;
      height: 350px;
      left: 140px;
      z-index: 0;
    }
  }
  #wrapper1
  {
    width: 1024px;
    height: 30px;
    background-color: rgb(22, 54, 72);
  }
  #wrapper2
  {
    width: 1024px;
    height: 3px;
    background-color: rgb(116, 109, 83);
  }
  #wrapper3
  {
    width: 1024px;
    height: 3px;
    background-color: rgb(116, 109, 83);
  }
  #wrapper4
  {
    width: 1024px;
    height: 30px;
    background-color: rgb(22, 54, 72);
  }
  #nav1
  {
    width: 200px;
    height: 170px;
    float: left;
    ul
    {
      padding-left: 0;
      li
      {
        margin: 15px;
        list-style-type: none;
        height: 35px;
        width: 145px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        margin-left: 30px;
        border-radius: 6px;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 3px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
  #nav2
  {
    width: 200px;
    height: 170px;
    float: right;
    ul
    {
      padding-left: 0;
      li
      {
        margin: 15px;
        list-style-type: none;
        height: 35px;
        width: 145px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        border-radius: 6px;
        z-index: 1;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 3px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
}
div#main
{
	width:1024px;
}
#pieces_header
{
	width:1024px;
	height:300px;
	background-color:white;
	padding-top:100px;

	h1
	{
		float: right;
		width: 400px;
	}

	p{
		float: right;
		width:400px;
	}
}

.clear
{
	clear:both;
}

.pieces_container
{
	width:1024px;
}

.pieces_right_section
{
// <<<<<<< HEAD
	width:984px;
	height:300px;
// =======
// 	width:1004px;
// 	height:250px;
// >>>>>>> a911bcecb56c3bb59b07cac28e922d686519e905
	background-color:$teal;
	color:white;
	padding-top:30px;
	padding-left:20px;

	padding-right:20px;

		h2
		{
			width: 400px;
			border:solid 1px white;
			float:right;
	.description
	{
		width: 450px;
		float:right;
		padding: 10px 60px 10px 10px;

		h2
		{
			margin: 0;
		}

		p
		{
			width: 400px;
			border:solid 1px white;
			float:right;
		}
}

	img
	{
		float: left;
		width: 200px;
		padding-left: 120px;
		padding-top: 30px;
	}
}
.pieces_left_section
{
	width:1004px;
	height:250px;
	background-color:$green;
	color:white;
	padding-top:30px;
	padding-left:20px;

	.description
	{
		border:solid 1px white;
		width: 450px;
		float: left;
		padding: 10px 10px 10px 60px;

		h2
		{
			margin: 0;
		}

	}

	img
	{
		width: 400px;
		border:solid 1px white;
		float: right;
		padding: 20px 120px 10px 10px;
	}

	img#guitar
	{
		height: 180px;
	}

	img#mic
	{
		height: 150px;
	}

	img#par
	{
		height: 100px;
	}
footer
{
  width: 1024px;
  height: 220px;
  background-color: rgb(22, 54, 72);
  margin: 120px auto 0 auto;
  #image_holder
  {
    height: 20px;
    img
    {
      width: 730px;
      position: relative;
      top: -50px;
      height: 350px;
      left: 140px;
      z-index: 0;
    }
  }
  #wrapper1
  {
    width: 1024px;
    height: 30px;
    background-color: rgb(22, 54, 72);
  }
  #nav1
  {
    width: 300px;
    height: 70px;
    float: left;
    position: relative;
    bottom: 15px;
    ul
    {
      padding-left: 0;
      margin: 0;
      li
      {
        display: inline;
        margin: 5px;
        list-style-type: none;
        height: 35px;
        width: 130px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        margin-left: 30px;
        border-radius: 6px;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 2px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
  #nav2
  {
    width: 600px;
    height: 70px;
    float: right;
    position: relative;
    left:100px;
    bottom: 15px;
    ul
    {
      padding-left: 0;
      margin: 0;
      li
      {
        padding: 0;
        display: inline;
        margin: 8px;
        list-style-type: inline;
        height: 35px;
        width: 145px;
        border: 1px solid rgb(110, 39, 20);
        text-align: center;
        border-radius: 6px;
        z-index: 1;
        &:hover
          {
            background-color: rgb(110, 39, 20);
            box-shadow: 1px 1px rgb(185, 177, 145);
          }
        a
        {
          font-family: 'Poiret One', cursive;
          text-decoration: none;
          font-style: bold;
          font-size: 30px;
          color: rgb(185, 177, 145);
          padding: 3px;
          text-shadow: 1px 1px black;
        }
      }
    }
  }
}
p#copywrite
{
  font-size: 13px;
  position: relative;
  top: 12px;
  text-align: center;
}
}

}