@import 'colors';
@import 'fonts';
@import 'functions';
@import 'header';

body
{
	background-image:url('../images/bkg-1.jpg');
	background-size:200%;
}
#main
{
  width: 1024px;
  margin: auto;
  // background-image: url("../images/bkg-1.jpg");
  font-family: Roboto+Slab;
}

.clear
{
  clear:both;
}

@import 'home';
@import 'board';
@import 'pieces';
@import 'cards';
@import 'faq';
@import 'contact';
@import 'footer';


