@import 'colors';
@import 'fonts';
@import 'functions';
@import 'header';

body
{
	background-image:url('../images/bkg-1.jpg');
	background-size:200%;
}
#main
{
  width: 1024px;
  margin: auto;
  // background-image: url("../images/bkg-1.jpg");
  font-family: Roboto+Slab;
}

.clear
{
  clear:both;
}

footer
{
	p{
		text-align:center;
		color:white;
	}
}

<<<<<<< HEAD
#video_container
{
	width:500px;
	margin:100px auto 50px auto;

	iframe
	{
		border: outset 10px $red;
		box-shadow:0px 10px 20px black;
	}
}

=======
>>>>>>> e3b74cfdab4fef6fb8b27b688e3a5108eb0df7a6

@import 'home';
@import 'board';
@import 'pieces';
@import 'cards';
@import 'faq';
@import 'contact';
@import 'footer';


