!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    #main
    / *************header*****************/
    = Haml::Engine.new(File.read('_header.haml')).render

    / ****************footer*****************/
    = Haml::Engine.new(File.read('_footer.haml')).render


