!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    #main
      = Haml::Engine.new(File.read('haml/_header_index.haml')).render
      = Haml::Engine.new(File.read('haml/_footer_index.haml')).render


