
%footer
  #image_holder
    %img{src:'images/nashopoly_logo_small.png', alt:'Nashopoly logo'}
  #wrapper1
    %navigation#nav1
      %ul
        %li
          %a{href:"index.html"}HOME
        %li
          %a{href:"haml/board.html"}BOARD
    %navigation#nav2
      %ul
        %li
          %a{href:"haml/cards.html"}CARDS
        %li
          %a{href:"haml/pieces.html"}PIECES
        %li
          %a{href:"haml/faq.html"}FAQS
        %li
          %a{href:"haml/contact.html"}CONTACT
  .clear
%p#copywrite (c) 2013 WAG PRODUCTIONS


