%header
  #wrapper1
  #wrapper2
    %navigation#nav1
      %ul
        %li
          %a{href:"index.html"}HOME
        %li
          %a{href:"haml/board.html"}BOARD
        %li
          %a{href:"haml/cards.html"}CARDS
    %navigation#nav2
      %ul
        %li
          %a{href:"haml/pieces.html"}PIECES
        %li
          %a{href:"haml/faq.html"}FAQS
        %li
          %a{href:"haml/contact.html"}CONTACT
  .clear
  #wrapper3
  #wrapper4
  %img{src:'images/nashopoly_logo_full.png', alt:'Nashopoly logo'}
