#nav
  %ul
    %li
      %a{href:"../index.html"}HOME
    %li
      %a{href:"board.html"}BOARD
    %li
      %a{href:"cards.html"}CARDS
    %li
      %a{href:"#"}
        %img{src:'images/nashopoly_logo_full.png'}
    %li
      %a{href:"pieces.html"}PIECES
    %li
      %a{href:"faq.html"}FAQS
    %li
      %a{href:"contact.html"}CONTACT
