
%header
  #image_holder
    %img{src:'../images/nashopoly_logo_full.png', alt:'Nashopoly logo'}
  #wrapper1
  #wrapper2
    %navigation#nav1
      %ul
        %li
          %a{href:"../index.html"}HOME
        %li
          %a{href:"board.html"}BOARD
        %li
          %a{href:"cards.html"}CARDS
    %navigation#nav2
      %ul
        %li
          %a{href:"pieces.html"}PIECES
        %li
          %a{href:"faq.html"}FAQS
        %li
          %a{href:"contact.html"}CONTACT
  .clear
  #wrapper3
  #wrapper4

