!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    #board
      #top_row
        .left.corner
        .horiz_locations
          #parthenon
            %p
            %img{src:"../images/parthenon.jpg", alt:'parthenon'}
            .color
          .chance
            %p
            %img
            .color
          #montgomery
            %p
            %img{src:"../images/montgomery_bell.jpg", alt:'montgomery bell'}
            .color
          #centennial
            %p
            %img{src:"../images/centennial.jpg", alt:'centennial park'}
            .color
          .university
            %p
            %img
            .color
          #hall_of_fame
            %p
            %img{src:"../images/country_music_hall_of_fame.jpg", alt:'country music hall of fame'}
            .color
          #music_city_center
            %p
            %img{src:"../images/music_city_center.jpg", alt:'music city center'}
            .color
          .utility
            %p
            %img
            .color
          #shelby
            %p
            %img{src:"../images/shelby_park.jpg", alt:'shelby park'}
            .color
        .right.corner
        .clear
      #middle_row
        .left.vert_locations
          #rca
            %p
            %img{src:"../images/rca_studio_b.png", alt:'RCA studio B'}
            .color
          #wpln
            %p
            %img{src:"../images/wpln.jpg", alt:'WPLN'}
            .color
          .community_chest
            %p
            %img
            .color
          #belmont
            %p
            %img{src:"../images/belmont_music.jpg", alt:'belmont music school'}
            .color
          .university
            %p
            %img
            .color
          #donut
            %p
            %img{src:"../images/donut_den.jpg", alt:'donut den'}
            .color
          #smoke
            %p
            %img{src:"../images/smoke_shop.jpg", alt:'uptowns smoke shop'}
            .color
          .utility
            %p
            %img
            .color
          #bluebird
            %p
            %img{src:"../images/bluebird_cafe.jpg", alt:'parthenon'}
            .color
        #center
          %img{src:"../images/board_center.png", alt:'nashopoly logo'}
        .right.vert_locations
          #union
            .color
            %img{src:"../images/union_station.jpg", alt:'union station'}
            %p
          #frist
            .color
            %img{src:"../images/frist.jpg", alt:'frist art center'}
            %p
          .community_chest
            .color
            %img
            %p
          #ryman
            .color
            %img{src:"../images/ryman.jpg", alt:'ryman auditorium'}
            %p
          .university
            .color
            %img
            %p
          .chance
            .color
            %img
            %p
          #hermitage
            .color
            %img{src:"../images/hermitage.jpg", alt:'hermitage'}
            %p
          .tax
            .color
            %img
            %p
          #plantation
            .color
            %img{src:"../images/belle_meade_plantation.jpg", alt:'belle meade plantation'}
            %p
        .clear
      #bottom_row
        .left.corner
        .horiz_locations
          #mere_bulles
            .color
            %img{src:"../images/mere_bulles.jpg", alt:'mere bulles'}
            %p
          #percy_warner
            .color
            %img{src:"../images/percey_warner.jpg", alt:'percy warner park'}
            %p
          .chance
            .color
            %img
            %p
          #radnor
            .color
            %img{src:"../images/radnor.jpg", alt:'radnor lake'}
            %p
          .university
            .color
            %img
            %p
          .tax
            .color
            %img
            %p
          #zoo
            .color
            %img{src:"../images/zoo.jpg", alt:'zoo'}
            %p
          .community_chest
            .color
            %img
            %p
          #bobbys
            .color
            %img{src:"../images/bobbys_dairy_dip.jpg", alt:'parthenon'}
        .right.corner