!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    #board
      #top_row
        .left.corner
          %img{src:"../images/free_parking.jpg", alt:'free parking'}
        .horiz_locations
          #parthenon
            .price
              %img{src:"../images/220.png", alt:'Price $220'}
            %img{src:"../images/parthenon.jpg", alt:'parthenon'}
            .color
          .chance
            %p
            %img
          #montgomery
            .price
              %img{src:"../images/220.png", alt:'Price $220'}
            %img{src:"../images/montgomery_bell.jpg", alt:'montgomery bell'}
            .color
          #centennial
            .price
              %img{src:"../images/240.png", alt:'Price $240'}
            %img{src:"../images/centennial.jpg", alt:'centennial park'}
            .color
          .university
            %p
            %img
          #hall_of_fame
            .price
              %img{src:"../images/260.png", alt:'Price $260'}
            %img{src:"../images/country_music_hall_of_fame.jpg", alt:'country music hall of fame'}
            .color
          #music_city_center
            .price
              %img{src:"../images/260.png", alt:'Price $260'}
            %img{src:"../images/music_city_center.jpg", alt:'music city center'}
            .color
          .utility
            %p
            %img
          #shelby
            .price
              %img{src:"../images/280.png", alt:'Price $280'}
            %img{src:"../images/shelby_park.jpg", alt:'shelby park'}
            .color
        .right.corner
          %img{src:"../images/go_to_jail.jpeg", alt:'go to jail'}
        .clear
      #middle_row
        .left.vert_locations
          #rca
            .price
            %img{src:"../images/rca_studio_b.png", alt:'RCA studio B'}
            .color
          #wpln
            .price
            %img{src:"../images/wpln.jpg", alt:'WPLN'}
            .color
          .community_chest

          #belmont
            .price
            %img{src:"../images/belmont_music.jpg", alt:'belmont music school'}
            .color
          .university

          #donut
            .price
            %img{src:"../images/donut_den.jpg", alt:'donut den'}
            .color
          #smoke
            .price
            %img{src:"../images/smoke_shop.jpg", alt:'uptowns smoke shop'}
            .color
          .utility

          #bluebird
            .price
            %img{src:"../images/bluebird_cafe.jpg", alt:'parthenon'}
            .color
        #center
          %img{src:"../images/board_center.png", alt:'nashopoly logo'}
        .right.vert_locations
          #union
            .color
            %img{src:"../images/union_station.jpg", alt:'union station'}
            .price
          #frist
            .color
            %img{src:"../images/frist.jpg", alt:'frist art center'}
            .price
          .community_chest

          #ryman
            .color
            %img{src:"../images/ryman.jpg", alt:'ryman auditorium'}
            .price
          .university

          .chance

          #hermitage
            .color
            %img{src:"../images/hermitage.jpg", alt:'hermitage'}
            .price
          .tax

          #plantation
            .color
            %img{src:"../images/belle_meade_plantation.jpg", alt:'belle meade plantation'}
            .price
        .clear
      #bottom_row
        .left.corner
          %img{src:'../images/just_visiting.jpg', alt:'just visiting'}
        .horiz_locations
          #mere_bulles
            .color
            %img{src:"../images/mere_bulles.jpg", alt:'mere bulles'}
            .price
          #percy_warner
            .color
            %img{src:"../images/percey_warner.jpg", alt:'percy warner park'}
            .price
          .chance
            %img
            %p
          #radnor
            .color
            %img{src:"../images/radnor.jpg", alt:'radnor lake'}
            .price
          .university
            %img
            %p
          .tax
            %img
            %p
          #zoo
            .color
            %img{src:"../images/zoo.jpg", alt:'zoo'}
            .price
          .community_chest
            %img
            %p
          #bobbys
            .color
            %img{src:"../images/bobbys_dairy_dip.jpg", alt:'parthenon'}
            .price
        .right.corner
          %img{src:'../images/go.jpg', alt:'go'}
        .clear