!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
<<<<<<< HEAD
    %header
      #image_holder
        %img{src:'../images/nashopoly_logo_full.png', alt:'Nashopoly logo'}
      #wrapper1
      #wrapper2
        %navigation#nav1
          %ul
            %li
              %a{href:"../index.html"}HOME
            %li
              %a{href:"board.html"}BOARD
            %li
              %a{href:"cards.html"}CARDS
        %navigation#nav2
          %ul
            %li
              %a{href:"pieces.html"}PIECES
            %li
              %a{href:"faq.html"}FAQS
            %li
              %a{href:"contact.html"}CONTACT
      .clear
      #wrapper3
      #wrapper4
    #cards
      #cchest
        %h1 Community Chest
        .card
          %h3 Community Chest
          %p You were caught polluting the Cumberland River.  Go directly to Jail. Do not pass go, do not collect $200.
        .card
          %h3 Community Chest
          %p Late for the Tech meetup across town.  Go directly to Hermitage.
        .card
          %h3 Community Chest
          %p Grand Ole Opry Night - Collect $50 from every player for opening night seats.
        .card
          %h3 Community Chest
          %p Congratulations, you just graduated High School.  Move to the nearest College Space.
        .card
          %h3 Community Chest
          %p Your band got signed! Collect $1,000.
      #chance
        %h1 Chance
        .card
          %h3 Chance
          %p You got a paid gig! Collect $200.
        .card
          %h3 Chance
          %p Too much Green Label Jack Daniels. Roll the dice, then go back that many spaces.
        .card
          %h3 Chance
          %p You were caught in a traffic jam on your way to LP Field.  Lose a turn.
        .card
          %h3 Chance
          %p You have won the Tennessean Crossword Competition.  Collect $100.
        .card
          %h3 Chance
          %p Get out of jail for a fee! Pay $100 to Bond Girl.
      %div.clear
    %footer
      #image_holder
        %img{src:'../images/nashopoly_logo_small.png', alt:'Nashopoly logo'}
      #wrapper1
        %navigation#nav1
          %ul
            %li
              %a{href:"../index.html"}HOME
            %li
              %a{href:"board.html"}BOARD
        %navigation#nav2
          %ul
            %li
              %a{href:"cards.html"}CARDS
            %li
              %a{href:"pieces.html"}PIECES
            %li
              %a{href:"faq.html"}FAQS
            %li
              %a{href:"contact.html"}CONTACT
      .clear
    %p#copywrite (c) 2013 WAG PRODUCTIONS
=======
    #main
      #cards
        #cchest
          %h1 Community Chest
          .cardback
            %img{src:"../images/community_chest_icon.gif"}
          .card
            %h3 Community Chest
            %p You were caught polluting the Cumberland River.  Go directly to Jail. Do not pass go, do not collect $200.
          .card
            %h3 Community Chest
            %p Late for the Tech meetup across town.  Go directly to Hermitage.
          .card
            %h3 Community Chest
            %p Grand Ole Opry Night - Collect $50 from every player for opening night seats.
          .card
            %h3 Community Chest
            %p Congratulations, you just graduated High School.  Move to the nearest College Space.
          .card
            %h3 Community Chest
            %p Your band got signed! Collect $1,000.
        #chance
          %h1 Chance
          .cardback
            %img{src:"../images/chance_question.png"}
          .card
            %h3 Chance
            %p You got a paid gig! Collect $200.
          .card
            %h3 Chance
            %p Too much Green Label Jack Daniels. Roll the dice, then go back that many spaces.
          .card
            %h3 Chance
            %p You were caught in a traffic jam on your way to LP Field.  Lose a turn.
          .card
            %h3 Chance
            %p You have won the Tennessean Crossword Competition.  Collect $100.
          .card
            %h3 Chance
            %p Get out of jail for a fee! Pay $100 to Bond Girl.
        %div.clear
>>>>>>> 41f7f617e6b6d473ba7755078d1e39f0ba9a7bae
