!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    %div#main
      %header
      %nav
      #cards
        %h1 Community Chest
        .card
          %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / %h1 Chance
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card

      %footer