!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    %div#main
      %header
      %nav
      #cards
        #cchest
          %h1 Community Chest
          .card
            %h3 Community Chest
            %p This is the text of the Card
          .card
            %p This is the text of the Card
          .card
            %p This is the text of the Card
          .card
            %p This is the text of the Card
          .card
            %p This is the text of the Card
        / %h1 Chance
        / .card
        / %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
        / .card
        /   %p This is the text of the Card
      %footer
      %div.clear