!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    %div#main
      %header
      %nav
      %div#contact
        %h1 Contact us
        %div.person
          %img{src:"../images/gabrielle.jpg"}
          %h3 Gabrielle Epstein
          %p DoctorGabi@gmail.com
          %p Github: doctorgabi
        %div.person
          / %img{src:"../images/ashley.png"}
          %h3 Warren Sadler
          %p zeek3190@gmail.com
          %p Github:  WarrenSadler3190
        %div.person
          %img{src:"../images/ashley.png"}
          %h3 Ashley Wright
          %p AshleyMarieEvans@gmail.com
          %p Github: Ashley-Wright
        %div.clear
        %h1 Let us know what you think!
        %form
          %p Name: <input type-"text" name="firstname" value="">
          %p Email: <input type-"text" name="email" value="">
          %p Message:
          <textarea name="comments" rows="10" cols="48"></textarea>
          %p <input type="submit" value="Send">


      %footer