!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    %div#main
      %div#contact
        %h1 Contact us
        %ul
          %li
            %img{src:"../images/gabrielle.jpg"}
            %h3 Gabrielle Epstein
            %p doctorgabi@gmail.com
            %p Github: doctorgabi
          %li
            %img{src:"../images/warren.png"}
            %h3 Warren Sadler
            %p zeek3190@gmail.com
            %p Github:  WarrenSadler3190
          %li
            %img{src:"../images/ashley.png"}
            %h3 Ashley Wright
            %p AshleyMarieEvans@gmail.com
            %p Github: Ashley-Wright
        %h1 Let us know what you think!
        %form
          %p Name: <input type-"text" name="firstname" value="">
          %p Email: <input type-"text" name="email" value="">
          %p Message:
          <textarea name="comments" rows="10" cols="48"></textarea>
          / %p <input type="submit" value="Send">
          %p Send
