!!!5
%html
%head
	%meta{charset: '#'}
	%title NASHOPOLY | FAQ
	%link{rel:'stylesheet', type:'text/css', href:'../css/style.css'}
%body
	#main
		%navigation
			%img.logo_img{src:'#'}
			%ul.nav_links
				%li
					%a{href: '#'} HOME
			%ul
				%li
					%a{href: '#'} BOARD
			%ul
				%li
					%a{href: '#'} CARDS
			%ul
				%li
					%a{href: '#'} PIECES
			%ul
				%li
					%a{href: '#'} FAQS
			%ul
				%li
					%a{href: '#'} CONTACT US
		#content
			#header
				%h1 Navigation
			.row
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			.row
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
				%h2 What is Monopoly?
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.

		%footer	
			.footer_row
				%ul
					%li 
						%a{href: '#'} HOME
					%li 
						%a{href: '#'} BOARD
					%li 
						%a{href: '#'} CARDS
			.footer_row
				%ul
					%li 
						%a{href: '#'} PIECES
					%li 
						%a{href: '#'} FAQS
					%li 
						%a{href: '#'} CONTACT US
			.footer_row
				%h3
					COPYRIGHT 2013
 				s

