!!!5
%html
%head
	%meta{charset: '#'}
	%title NASHOPOLY | FAQ
	%link{rel:'stylesheet', type:'text/css', href:'../css/style.css'}
	%link{rel:'stylesheet', type:'text/css', href:'../css/normalize.css'}
%body
	#main
		.faq_header
			.faq_header_section
				%h1 Frequently Asked Questions
				%p
			.faq_header_section
				/ %img{src:"", alt:'faq header image'}
			.faq_content
				.faq_content_question
					%h2 Your Nashopoly board has some great artwork.  Where can I find those pieces?
				.faq_content_answer
					%p All of the space depicting Nashville locations on our board are images from a local design company, <a href="https://www.andersondesigngroupstore.com/">Anderson Design Group</a>.
			.faq_content
				.faq_content_question
					%h2 Is Nashopoly geographically accurate?
				.faq_content_answer
					%p No.  It is a square.  Do not use this as a map.
			.faq_content
				.faq_content_question
					%h2 What building is that in the logo?
				.faq_content_answer
					%p That is the AT&T building and is the tallest building in Tennessee.  It is a very recognizable piece of the Nashville skyline.
			.faq_content
				.faq_content_question
					%h2 Who is Karl Dean?
				.faq_content_answer
					%p Karl Dean is the current mayor of the Metropolitan Government of Nashville and Davidson County, Tennessee.  Dean was sworn into office in 2007 and is an Adjunct Professor at Vanderbilt Law School.
			.faq_content
				.faq_content_question
					%h2 How much money do I win for landing on Free Parking?
				.faq_content_answer
					%p In the official rules, Free Parking is just that -- a place to hang out for a turn where nothing happens, good or bad.  Many players use a house rule that puts either a set amount of money, or all moneys paid to the bank, into a Free Parking "pot" that is won by a player who lands on Free Parking.
			.faq_content
				.faq_content_question
					%h2 Who invented Monopoly?
				.faq_content_answer
					%p It was 1934, the height of the Depression, when Charles B. Darrow of Germantown, Pennsylvania, showed what he called the Monopoly game to the executives at Parker Brothers.  But there's more to the story.  Darrow's design was strikingly similar to one patented on January 5, 1904, by Lizzie J. Magie, a Quaker woman from Virginia. He game was calledThe Landlord's Game and was based on the philosophy that the renting of land and real estate produced an unearned increase in land values that profited a few individuals (landlords) rather than the majority of the people (tenants).