!!!5
%html
%head
	%meta{charset: '#'}
	%title NASHOPOLY | FAQ
	%link{rel:'stylesheet', type:'text/css', href:'../css/style.css'}
%body
	.nav
		%ul
			%li 
				%a Home
			%li 
				%a Board
			%li 
				%a Cards
			%li
				%a
					%img
			%li 
				%a Pieces
			%li 
				%a FAQ
			%li 
				%a Contact Us	
	.faq_header
		.faq_header_section
			%h1

			%p
		.faq_header_section
			%img.faq_header_image